<?xml version="1.0"?>
<!--
Web.config file for loginpage.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="OracleConnect" value="Data Source=TST_REPORT; USER Id=rover; Password=rag4offa" />
    <add key="PMA" value="Data Source=localhost, 1433; Database=dotnettest; User ID=sa; Password=India1234$" />
    <add key="Username" value="biserviceuser" />
    <add key="Password" value="KqjVWGDVhqxEUFmHaE2fbuXJ" />
  </appSettings>
</configuration>